html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(https://source.unsplash.com/category/nature/1600x900/daily) center/cover no-repeat fixed;
    font: 16px "Open Sans", sans-serif;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 98%;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
}

.center {
    flex-grow: 1;
}

.center-below{
    flex-grow: 1;
}

.bottom {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

#clock {
    font-size: 12em;
}

#greeting {
    font-size: 5em;
}

#focus {
    font-size: 2em;
}